@import './settings';

body {
  margin: $width--gutter;
  font-family: $font-family;
  background: $color--background;
}

img {
  max-width: 100%;
  vertical-align: top;
}



.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  text-decoration: none;
  text-align: center;

  &--block {
    display: block;
  }

  &--primary {
    background: $color--primary;
    color: #fff;
  }
}



.product-grid {
  padding: 0;
  margin: 0 0 0 (-$width--gutter);
  list-style-type: none;

  &__item {
    display: inline-block;
    width: 100% / $grid;
    padding-left: $width--gutter;
    margin-bottom: $width--gutter;
    box-sizing: border-box;

    @each $map in $grid-breakpoints {
      @media screen and (map-get($map, breakpoint)) {
        width: 100% / map-get($map, col-count);
      }
    }
  }
}

.product {
  background: #fff;

  &__image {

  }
  &__body {
    padding: 1em;
    border: 1px solid #ddd;
  }
  &__name {
    margin: 0;
  }
}
